# ETL Project
### By Peter Nguyen and John Zhao

## Part I. Loading in and cleaning up data

In [1]:
# Importing Dependencies
import pandas as pd
import time
import datetime as dt
from datetime import datetime
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
# Read CSV files
df1 = pd.read_csv("Resources/Stocks.csv")
df2 = pd.read_csv("Resources/Bitcoin.csv")
print(df1.head())
print(df2.head())

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
    Timestamp   Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)  \
0  1417411980  300.0  300.0  300.0  300.0          0.01                3.0
1  1417412040    NaN    NaN    NaN    NaN           NaN                NaN
2  1417412100    NaN    NaN    NaN    NaN           NaN                NaN
3  1417412160    NaN    NaN    NaN    NaN           NaN                NaN
4  1417412220    NaN    NaN    NaN    NaN           NaN                NaN

   Weighted_Price
0           300.0
1             NaN
2             NaN
3             NaN
4             NaN

In [3]:
# Renaming the columns
df1.columns = ["Date", "STK_Open", "STK_High", "STK_Low", "STK_Close", "STK_Volume", "STK_Name"]
df2.columns = ["Time", "BTC_Open", "BTC_High", "BTC_Low", "BTC_Close", "BTC_Volume BTC", "BTC_Volume CURR", "BTC_Price"]

In [4]:
# Drop data not being used
df1 = df1.drop('STK_Name', 1)
df2 = df2.drop('BTC_Price', 1)

In [5]:
# Convert timestamp to date time
df2['Time'] = pd.to_datetime(df2['Time'], unit='s')

In [6]:
# Strip hours/minutes/seconds with apply method
df2['Time'] = df2['Time'].astype('str')

def first_index(x):
    return str(x).split(' ')[0]

df2['Time'] = df2['Time'].apply(first_index)
df2['Time'].head()

0    2014-12-01
1    2014-12-01
2    2014-12-01
3    2014-12-01
4    2014-12-01
Name: Time, dtype: object

In [7]:
# Rename column for consistency
df2 = df2.rename(columns={'Time': 'Date'})
df2.head()

,Date,BTC_Open,BTC_High,BTC_Low,BTC_Close,BTC_Volume BTC,BTC_Volume CURR
0,2014-12-01,300.0,300.0,300.0,300.0,0.01,3.0
1,2014-12-01,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-12-01,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-12-01,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-01,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Find overlapping dates on both dataframes
print(df1['Date'].max())
print(df1['Date'].min())
print(df2['Date'].max())
print(df2['Date'].min())

2018-02-07
2013-02-08
2018-11-11
2014-12-01

In [9]:
# Filter for overlapping dates
df1 = df1[(df1['Date'] >= '2014-12-01') & (df1['Date'] <= '2018-02-07')]
df2 = df2[(df2['Date'] >= '2014-12-01') & (df2['Date'] <= '2018-02-07')]

In [10]:
# Group data for both dataframes
df2 = df2.groupby('Date', as_index=False).mean()
df1 = df1.groupby('Date', as_index=False).mean()

## Part II. Connecting to SQL database and creating tables

In [11]:
# Create connection to SQL database 
engine = sqlalchemy.create_engine('mysql://root:pigsty214@localhost/finance_db')
engine.execute("USE finance_db")
conn = engine.connect()

In [12]:
# Convert dataframes into SQL data
df1.to_sql(name='stock_info', con=engine, if_exists='replace', index=False)
df2.to_sql(name='btc_info', con=engine, if_exists='replace', index=False)

In [ ]:
len(df1['Date'].unique()) == len(df1['Date'])