In [20]:
import pandas as pd
import time
import datetime as dt
from datetime import datetime
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [6]:
df1 = pd.read_csv("Resources/Stocks.csv")
df2 = pd.read_csv("Resources/Bitcoin.csv")
print(df1.head())
print(df2.head())

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
    Timestamp   Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)  \
0  1417411980  300.0  300.0  300.0  300.0          0.01                3.0
1  1417412040    NaN    NaN    NaN    NaN           NaN                NaN
2  1417412100    NaN    NaN    NaN    NaN           NaN                NaN
3  1417412160    NaN    NaN    NaN    NaN           NaN                NaN
4  1417412220    NaN    NaN    NaN    NaN           NaN                NaN

   Weighted_Price
0           300.0
1             NaN
2             NaN
3             NaN
4             NaN

In [14]:
df1.columns = ["Date", "Open", "High", "Low", "Close", "Volume", "Name"]
df1.head()

df2.columns = ["Time", "Open", "High", "Low", "Close", "Volume BTC", "Volume CURR", "Price"]
df2.head()

         Time   Open   High    Low  Close  Volume BTC  Volume CURR  Price
0  1417411980  300.0  300.0  300.0  300.0        0.01          3.0  300.0
1  1417412040    NaN    NaN    NaN    NaN         NaN          NaN    NaN
2  1417412100    NaN    NaN    NaN    NaN         NaN          NaN    NaN
3  1417412160    NaN    NaN    NaN    NaN         NaN          NaN    NaN
4  1417412220    NaN    NaN    NaN    NaN         NaN          NaN    NaN

In [18]:
df1 = df1.drop('Name', 1)
df1.head()

df2 = df2.drop('Price', 1)
df2.head()

         Date   Open   High    Low  Close    Volume
0  2013-02-08  15.07  15.12  14.63  14.75   8407500
1  2013-02-11  14.89  15.01  14.26  14.46   8882000
2  2013-02-12  14.45  14.51  14.10  14.27   8126000
3  2013-02-13  14.30  14.94  14.25  14.66  10259500
4  2013-02-14  14.94  14.96  13.16  13.99  31879900

In [19]:
df1 = df1.dropna()
df1.head()

df2 = df2.dropna()
df2.head()

            Time   Open   High    Low  Close  Volume BTC  Volume CURR
0     1417411980  300.0  300.0  300.0  300.0    0.010000      3.00000
7     1417412400  300.0  300.0  300.0  300.0    0.010000      3.00000
51    1417415040  370.0  370.0  370.0  370.0    0.010000      3.70000
77    1417416600  370.0  370.0  370.0  370.0    0.026556      9.82555
1436  1417498140  377.0  377.0  377.0  377.0    0.010000      3.77000